
nav{
    background-color:cadetblue;
    padding:2px;
}
h1{
    text-align:center;
    text-decoration:underline;

}
article{
    background-color:cadetblue;
    min-height:200px;
    width:50%;
    margin-left:25%;
    }
section{
    margin-left:25%;
}
.High{
    color:#CC0000;
}
.Medium{
    color:yellow;
}
.Low{
    color:white;
}
.Finished{
    text-decoration:line-through;
}