.High{
    background-color: #E7807F;
    font-size: 20pt;
    }
.Med{
    background-color:#FEEB4E;
    font-size: 16pt;
  }
.Low{
    background-color: #96E39D;
  }
.Done{
    text-decoration: line-through;
  }
